.address {
  display: block;
  margin-bottom: 60px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;

  color: $color-white;
}

.address__item {
  display: block;

  @media screen and (max-width: 1199px) {
    &__item:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.address__text {
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.71em;
  letter-spacing: 0.03em;

  color: #757575;
  // transition: color $time-transition $function-bezire;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__text--white {
  color: $color-white;
}
