.address {
  &__item {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
    margin-bottom: 60px;
  }

  &__item:not(:last-child) {
    margin-bottom: 8px;
  }

  &__text--white {
    color: $color-white;
  }

  &__text--grey {
    color: rgba(255, 255, 255, 0.6);
  }

  @media (min-width: 1023px) {
    &__item {
      text-align: left;
      margin-bottom: 0;
    }

    & {
      margin-right: 85px;
    }
  }
}
