/* Стиль нижней границы для хедера */
.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header__container {
  position: relative;
}

//Navigation
.page-header__nav {
  display: flex;
  align-items: center;
  /*justify-content: space-between;*/
  min-height: 60px;
}

.page-header__menu-btn {
  display: inline-flex;
  padding: 0;
  margin: 0;
  margin-left: auto;

  border: none;
  background-color: transparent;
  cursor: pointer;

  z-index: 2;

  &:hover,
  &:focus {
    fill: $accent-color;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.page-header__menu-close {
  display: none;
}

.page-header__menu-btn.is-open .page-header__menu-close {
  display: block;
}

.page-header__menu-btn.is-open .page-header__menu-humburger {
  display: none;
}

.page-header__menu {
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    display: none;

    flex-direction: column;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 550px;
    height: 100vh;

    padding: 48px 40px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: $color-white;
    z-index: 1;

    &.is-open {
      display: flex;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    flex-grow: 1;
  }
}

.page-header__list-pages {
  @media screen and (min-width: 768px) {
    display: flex;
    margin-right: 84px;

    .page-header__item-pages:not(:last-child) {
      margin-right: 50px;
    }
  }
  // @media screen and (min-width: 768px) {
  //   display: flex;
  //   margin-right: 84px;

  //   &__item-pages {
  //     margin-right: 50px;
  //   }

  //   &__item-pages:last-child {
  //     margin-right: 0;
  //   }
  // }
}

.page-header__item-pages {
  @media screen and (max-width: 767px) {
    margin-bottom: 32px;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.page-header__link {
  display: block;
  position: relative;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;

  color: #212121;
  // transition: color $time-transition $function-bezire;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 768px) {
    padding: 32px 0;

    font-size: 14px;
    line-height: 1.14em;
  }
}

//Current
.page-header__link--current {
  color: $accent-color;

  @media screen and (min-width: 768px) {
    &::after {
      content: "";

      position: absolute;
      left: 0;
      bottom: 0;

      display: block;
      width: 100%;
      height: 4px;

      background-color: $accent-color;
      border-radius: 2px;
    }
  }
}

//Contacts
.page-header__list-contacts {
  padding: 0;

  .page-header__item-contacts:last-child {
    margin-right: 0;
  }

  .page-header__contacts-link {
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.02em;

    color: #757575;
    // transition: color $time-transition $function-bezire;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      font-size: 12px;
      line-height: 1.17em;
    }
  }

  .page-header__contacts-link:hover,
  .page-header__contacts-link:focus {
    color: $accent-color;
  }

  .page-header__contacts--envelope {
    display: none;

    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 8px;
  }

  .page-header__contacts--smartphone {
    display: none;

    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 8px;
  }

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;

    margin-bottom: 64px;

    .page-header__contacts-link {
      font-size: 24px;
      line-height: 1.17em;
    }

    .page-header__item-contacts:last-child .page-header__contacts-link {
      margin-bottom: 32px;

      font-size: 34px;
      line-height: 1.18em;

      color: $accent-color;
    }
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;

    .page-header__contacts--envelope,
    .page-header__contacts--smartphone {
      display: block;
    }
  }

  @media screen and (max-width: 1199px) {
    .page-header__item-contacts:first-child {
      margin-bottom: 8px;
    }
  }

  @media screen and (min-width: 1200px) {
    display: flex;

    .page-header__item-contacts {
      margin-right: 30px;
    }

    .page-header__contacts-link {
      padding: 32px 0;
    }

    .page-header__contacts-link:not(:last-child) {
      margin-right: 30px;
    }
  }
}

// 165465
.page-header__list-social {
  display: flex;

  @media screen and (min-width: 768px) {
    display: none;
  }
}
.page-header {
  &__item-social {
    padding: 0 10px;
  }

  &__item-social:not(:first-child) {
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__item-social:first-child {
    padding-left: 0;
  }

  &__item-social:last-child {
    padding-right: 0;
  }

  &__link-social {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $accent-color;
  }
}
