/* Стиль нижней границы для хедера */
.page-header {
  padding: 16px 15px;
  border-bottom: 1px solid #ececec;

  &__menu {
    padding: 40px 48px;
  }

  // /* Задается свойство Flex контейнеру */
  // & > &__container {
  //   display: flex;
  //   align-items: center;
  // }

  // /* Задается свойство Flex элементам шапки сайта */
  // &__nav,
  // &__list,
  // &__contacts {
  //   display: flex;
  //   align-items: center;
  // }

  // /* Задаются отступы ссылкам навигации всем эелементам кроме последнего */
  // &__list > &__item:not(:last-child) {
  //   margin-right: 50px;
  // }

  /* Цвет текста ссылок в шапке */
  &__link {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.175em;
    letter-spacing: 0.02em;
    // display: block;
    position: relative;
    // padding-top: 32px;
    // padding-bottom: 32px;
    color: $text-caption-color;
    transition-property: color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }

  &__item-pages:not(:last-child) {
    margin-bottom: 32px;
  }

  &__item-pages:last-child {
    margin-bottom: 302px;
  }

  &__item-tel {
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18em;
    letter-spacing: 0.02em;
    color: $accent-color;
    margin-bottom: 32px;
  }

  &__item-mail {
    font-style: 400;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17em;
    letter-spacing: 0.02em;
    color: $main-text-color;
    margin-bottom: 64px;
  }

  &__item-social {
    display: inline-block;
    font-style: 400;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22em;
    letter-spacing: 0.02em;
    color: $accent-color;
  }

  &__item-social:not(:last-child) {
    padding-right: 9px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &__item-social:not(:first-child) {
    padding-left: 3px;
  }
  // &__link::after {
  //   content: "";

  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   display: block;
  //   width: 100%;
  //   height: 4px;
  //   border-radius: 2px;
  //   background-color: $accent-color;
  //   opacity: 0;
  //   transition-property: opacity;
  //   transition-duration: $animation-duration;
  //   transition-timing-function: $animation-type;
  // }

  // &__link--current&__link::after,
  // &__link:hover::after {
  //   opacity: 1;
  // }

  /* Стили оттображения текущего элемента */
  &__link--current {
    color: $accent-color;
  }

  /* Цвет текста ссылок в шапке при наведении */
  &__link:hover,
  &__link:focus {
    color: $accent-color;
  }

  &__contacts--envelope,
  &__contacts--smartphone {
    display: none;
  }
  // /* Цвет текста и иконок контактов в шапке при наведении */
  // &__contacts--mail:hover,
  // &__contacts--mail:focus,
  // &__contacts--tel:hover,
  // &__contacts--tel:focus,
  // &__contacts--icon:hover,
  // &__contacts--icon:focus {
  //   color: $accent-color;
  // }

  // /* Автоматический отступ слева для эелементов "Контакты" */
  // &__contacts {
  //   margin-left: auto;
  // }

  // /* Задается свойство Flex элементам "e-mail" и телефон */
  // &__contacts--mail,
  // &__contacts--tel {
  //   display: flex;
  //   align-items: center;
  // }

  // /* Отступ справа для элемента "e-mail" */
  // &__contacts--mail {
  //   margin-right: 50px;
  // }

  // /* Задаются отступы и цвет иконок элементов "e-mail" и телефон */
  // &__contacts--icon {
  //   margin-right: 10px;
  //   fill: currentColor;
  // }

  // /* Задаются размеры иконки элемента "e-mail" */
  // &__contacts--envelope {
  //   width: 16px;
  //   height: 12px;
  // }

  // /* Задаются размеры иконки элемента телефон */
  // &__contacts--smartphone {
  //   width: 10px;
  //   height: 16px;
  // }
}

// Media for tablets

@media (min-width: 767px) {
  .page-header {
    padding: 21px 15px;

    /* Задается свойство Flex контейнеру */
    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__item-pages {
      display: inline-block;
    }

    &__container {
      padding-left: 0;
      padding-right: 0;
    }
    /* Задается свойство Flex элементам шапки сайта */

    &__list-pages {
      display: flex;
      align-items: center;
      justify-content: center;
      // margin: 0;
    }

    &__menu {
      padding: 0;
    }

    &__item-social {
      display: none;
    }

    /* Задаются отступы ссылкам навигации всем эелементам кроме последнего */
    &__item-pages:not(:last-child) {
      margin-right: 40px; //50px
      margin-bottom: 0;
    }

    &__item-pages:last-child {
      margin-right: 84px;
      margin-bottom: 0;
    }

    &__btn-close {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__link {
      font-size: 14px;
      line-height: 1.14em;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &__link::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
      opacity: 0;
      transition-property: opacity;
      transition-duration: $animation-duration;
      transition-timing-function: $animation-type;
    }

    &__link--current.page-header__link::after,
    &__link:hover::after {
      opacity: 1;
    }

    &__list-contacts {
      display: flex;
      flex-direction: column-reverse;
    }
    &__item-tel {
      font-size: 12px;
      line-height: 1.17em;
      margin: 0;
    }

    &__item-mail {
      font-size: 12px;
      line-height: 1.17em;
      margin-bottom: 10px;
    }
    /* Цвет текста контактов в шапке */
    &__contacts--mail,
    &__contacts--tel {
      color: $main-text-color;
      transition-property: color;
      transition-duration: $animation-duration;
      transition-timing-function: $animation-type;
    }

    /* Цвет текста и иконок контактов в шапке при наведении */
    &__contacts--mail:hover,
    &__contacts--mail:focus,
    &__contacts--tel:hover,
    &__contacts--tel:focus,
    &__contacts--icon:hover,
    &__contacts--icon:focus {
      color: $accent-color;
    }

    // /* Автоматический отступ слева для эелементов "Контакты" */
    // &__contacts {
    //   margin-left: auto;
    // }

    /* Задается свойство Flex элементам "e-mail" и телефон */
    &__contacts--mail,
    &__contacts--tel {
      display: flex;
      align-items: center;
    }

    // /* Отступ справа для элемента "e-mail" */
    // &__contacts--mail {
    //   margin-right: 50px;
    // }

    /* Задаются отступы и цвет иконок элементов "e-mail" и телефон */
    &__contacts--icon {
      margin-right: 10px;
      fill: currentColor;
    }

    /* Задаются размеры иконки элемента "e-mail" */
    &__contacts--envelope {
      display: inline-block;
      width: 16px;
      height: 12px;
    }

    /* Задаются размеры иконки элемента телефон */
    &__contacts--smartphone {
      display: inline-block;
      width: 10px;
      height: 16px;
    }
  }
}

// Media for laptop

@media (min-width: 1023px) {
  .page-header {
    padding: 24px 15px;

    /* Задается свойство Flex контейнеру */
    &__container {
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    &__item-pages {
      display: inline-block;
    }

    &__container {
      padding-left: 0;
      padding-right: 0;
    }
    /* Задается свойство Flex элементам шапки сайта */

    &__list-pages {
      display: flex;
      align-items: center;
      justify-content: center;
      // margin: 0;
    }

    &__menu {
      padding: 0;
    }

    &__item-social {
      display: none;
    }

    /* Задаются отступы ссылкам навигации всем эелементам кроме последнего */
    &__item-pages:not(:last-child) {
      margin-right: 50px; //40px
      margin-bottom: 0;
    }

    &__item-pages:last-child {
      margin-right: 305px;
      margin-bottom: 0;
    }

    &__btn-close {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__link {
      font-size: 14px;
      line-height: 1.14em;
      padding-top: 32px;
      padding-bottom: 32px;
    }

    &__link::after {
      content: "";

      position: absolute;
      bottom: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: $accent-color;
      opacity: 0;
      transition-property: opacity;
      transition-duration: $animation-duration;
      transition-timing-function: $animation-type;
    }

    &__link--current.page-header__link::after,
    &__link:hover::after {
      opacity: 1;
    }

    &__list-contacts {
      display: flex;
      flex-direction: row-reverse;
    }
    &__item-tel {
      font-size: 12px;
      line-height: 1.17em;
      margin: 0;
    }

    &__item-mail {
      font-size: 12px;
      line-height: 1.17em;
      margin-bottom: 0;
    }
    /* Цвет текста контактов в шапке */
    &__contacts--mail,
    &__contacts--tel {
      color: $main-text-color;
      transition-property: color;
      transition-duration: $animation-duration;
      transition-timing-function: $animation-type;
    }

    /* Цвет текста и иконок контактов в шапке при наведении */
    &__contacts--mail:hover,
    &__contacts--mail:focus,
    &__contacts--tel:hover,
    &__contacts--tel:focus,
    &__contacts--icon:hover,
    &__contacts--icon:focus {
      color: $accent-color;
    }

    // /* Автоматический отступ слева для эелементов "Контакты" */
    // &__contacts {
    //   margin-left: auto;
    // }

    /* Задается свойство Flex элементам "e-mail" и телефон */
    &__contacts--mail,
    &__contacts--tel {
      display: flex;
      align-items: center;
    }

    /* Отступ справа для элемента "e-mail" */
    &__contacts--mail {
      margin-right: 30px;
    }

    /* Задаются отступы и цвет иконок элементов "e-mail" и телефон */
    &__contacts--icon {
      margin-right: 10px;
      fill: currentColor;
    }

    /* Задаются размеры иконки элемента "e-mail" */
    &__contacts--envelope {
      display: inline-block;
      width: 16px;
      height: 12px;
    }

    /* Задаются размеры иконки элемента телефон */
    &__contacts--smartphone {
      display: inline-block;
      width: 10px;
      height: 16px;
    }
  }
}
