/* Стили главного раздела страницы "Студия" */
/* Фоновый цвет секции "Герой" */
.hero {
  padding: 0;
  text-align: center;
  background: #c4c4c4;

  /* Фон секции "Герой" */
  &__overlay {
    background: linear-gradient(to bottom, #2f303a66, #2f303a66),
      url(../images/hero-img-mobile.jpg);
    max-width: 480px;
    max-height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
    margin: 0 auto;
    background-position: center;

    @media (min-width: 767px) {
      & {
        max-width: 768px;
      }
    }

    @media (min-width: 1023px) {
      & {
        max-width: 1600px;
      }
    }
  }

  /* Cтили для главного заголовка */
  &__caption {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62em;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    max-width: 360px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    color: $color-white;
  }

  /* Стили кнопки секции "Герой" */
  &__button {
    font-weight: 700;
    line-height: 1.875em;
    text-align: center;
    color: $color-white;
    background-color: $accent-color;
    cursor: pointer;
    min-width: 200px;
    max-height: 50px;
    border: 1px solid transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding: 10px 32px;
  }

  @media (min-width: 1023px) {
    &__caption {
      font-size: 44px;
      max-width: 696px;
      line-height: 1.4em;
    }
  }
}
