.logo {
  font-family: $sec-font-family;
  font-size: 24px;
  line-height: 1.17em;
  letter-spacing: 0.03em;
}

.page-header__logo--blue,
.footer__logo--blue {
  color: $accent-color;
  @media screen and (min-width: 1200px) {
    font-size: 26px;
  }
}

.page-header__logo--black {
  color: #000;

  @media screen and (min-width: 768px) {
    margin-right: 88px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
    font-size: 26px;
  }
}

.footer__logo {
  margin-bottom: 20px;
  text-align: center;
}

.footer__logo--white {
  color: $color-white;
}

@media (min-width: 1023px) {
  .footer__logo {
    text-align: left;
  }
}

@media (min-width: 767px) {
  footer__logo-address {
    margin-right: 165px;
  }
}
