.projects {
  /* Задается свойство Flex элементам карточек "Проекты" с переносом строки */
  // &__list {
  //   position: relative;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }

  /* Размещаются элементы карточек "Проекты" по три в ряд */
  &__item {
    // position: relative;
    // left: 50%;
    // transform: translateX(-50%);
    margin-bottom: 30px;
    max-width: 450px;
    border: 1px solid #eeeeee;
    transition-property: box-shadow;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }

  /* Добавление тени к карточкам "Проекты" */
  &__item:hover,
  &__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  // /* Убирается правые внешние отступы у каждого третего элемента карточек "Проекты" */
  // &__list > &__item:nth-child(3n) {
  //   margin-right: -30px;
  // }

  /* Задается нижний внешний отступ для изображения в карточках "Проекты" */
  &__img {
    position: relative;
    overflow: hidden;
  }

  /* Блок который появляется над картинкой в карточках "Проекты" */
  &__overlay {
    position: absolute;
    width: calc(100% + 2px);
    height: 294px;
    background-color: $accent-color;
    top: 0;
    left: 0;
    opacity: 0.9;
    padding: 77px 24px;
    transform: translateY(calc(100% + 4px));
    transition-property: transform;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }

  /* Эффекты блока который появляется над картинкой в карточках "Проекты" */
  &__item:hover &__overlay,
  &__item:focus &__overlay {
    transform: translateY(0);
  }

  /* Стили текста блока который появляется над картинкой в карточках "Проекты" */
  &__overlay-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.56em;
    color: $color-white;
  }

  /* Внутрение отступы в карточках "Проекты" */
  &__block {
    display: inline-block;
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
    max-width: 370px;
  }

  /* Стили заголовков карточек на странице "Портфолио" */
  &__caption {
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    color: $text-caption-color;
    margin-bottom: 4px;
  }

  /* Стили текста карточек на странице "Портфолио" */
  &__text {
    font-weight: 400;
    line-height: 1.875em;
  }

  &__photo {
    width: 450px;
    height: 294px;
  }

  @media (min-width: 767px) {
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
    }

    &__list:last-child {
      display: flex;
      justify-content: left;
    }

    &__item {
      max-width: 354px;
    }

    &__item:not(:last-child) {
      flex-basis: calc(100% / 3 - 10px);
    }

    &__item:last-child {
      margin-bottom: 0;
    }

    &__item:not(:nth-child(2n)) {
      margin-right: 30px;
    }

    // &__item:nth-child(3) {
    //   margin-bottom: 0;
    // }

    &__img {
      max-width: 354px;
    }

    &__photo {
      max-width: 354px;
    }
  }

  @media (min-width: 1023px) {
    &__list {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-right: -30px;
    }

    &__list:last-child {
      display: flex;
      justify-content: left;
    }

    &__item {
      max-width: 370px;
    }

    &__item:not(:last-child) {
      flex-basis: calc(100% / 3 - 10px);
    }

    &__item:last-child {
      margin-bottom: 0;
    }

    &__item:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &__item:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }

    &__img {
      max-width: 370px;
    }

    &__photo {
      max-width: 370px;
    }
  }
}
