.social {
  &__list {
    display: flex;
    justify-content: center;
  }

  &__list > &__item:not(:last-child) {
    margin-right: 10px;
  }

  &__link {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    color: #afb1b8;
    transition-property: background-color color;
    transition-duration: $animation-duration;
    transition-timing-function: $animation-type;
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
    color: $color-white;
  }

  &__icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }

  &__icon--white {
    fill: $color-white;
  }

  &__caption {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-white;
    margin-bottom: 20px;
  }

  &__footer {
    margin-bottom: 60px;

    @media (min-width: 1200px) {
      margin-bottom: 0;
      margin-right: 93px;
    }
  }
}
